/* https://coolors.co/96adc8-d7ffab-fcff6c-d89d6a-6d454c
   #96adc8 #d7ffab #fcff6c #d89d6a #6d454c
*/
@import url('https://fonts.googleapis.com/css?family=Notable|Roboto');

body.dta {
  font-family: 'Roboto', sans-serif;
  background: #6d454c;
  color: #6d454c;
}

body.dta div#datatables-admin {
  max-width: 1200px;
  background: #96adc8;
  padding: 20px;
  margin: 0 auto;
}

body.dta div#datatables-admin h1 {
  font-family: 'Notable', sans-serif;
  color: #6d454c;
  text-align: center;
}

body.dta div#datatables-admin table#wip {
  background: #FFFFFF;
  padding: 10px;
  border-spacing: 5px;
  color: #111111;
  margin: 0 auto;
}

body.dta div#datatables-admin table#wip tr,
body.dta div#datatables-admin table#wip td,
body.dta div#datatables-admin table#wip th {
  border: 2px solid #96adc8;
  padding: 5px;
  margin: 5px;
}

body.dta div#datatables-admin .dta-btn {
  color: #96adc8;
}

body.dta div#datatables-admin .dta-btn:hover {
  color: #d89d6a;
}
